@model IEnumerable<Programas.Models.ProgramaGrupos>

@{
    ViewData["Title"] = "Listado de GrupoPrograma-Programa";
}

<h2>Index</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GrupoPrograma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GrupoPrograma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programa)
            </td>

        </tr>
}
    </tbody>
</table>
