@{
    ViewData["Title"] = "Graficos por programa";
}

<div class=" Programa">

    <input id="ProgramaInput" style="background-color: #e3f2fd; color:blue" class="btn  btn-block" value="" type="text" placeholder="ingrese programa">
    <button class="btn  btn-block"style="background-color: #e3f2fd;" id="Boton"> Dibujar Grafico </button>

</div>



        <div id="mynetwork"></div>





