@{
    ViewData["Title"] = "Graficos por programa";
}



        <input id="ProgramaInput" style="background-color: #e3f2fd; width: 150%;"  class=" btn  btn-lg btn-block m-1" value="" type="text" placeholder="ingrese programa">
        <button class="btn  btn-lg btn-block m-1" style="background-color: #e3f2fd;  width: 150%;" id="Boton"> Dibujar Grafico </button>

        <div id="mynetwork"></div>




