@{
    ViewData["Title"] = "Graficos por programa";
}

<div class="row Programa">

    <input id="ProgramaInput" class="btn btn-primary btn-block" value="" type="text" placeholder="ingrese programa">
    <button class="btn btn-primary btn-block" id="Boton"> Cambiar </button>

</div>


<div class="row">
    <div class="col">
        <div id="mynetwork"></div>
    </div>
</div>



